* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(28, 179, 73);
}

.funcionalidade {
    padding: 20px;
    
}

.fucionalidades h2 {
    color:rgb(0, 0, 139)
} 

.secao-principal h1 {
    color:rgb(255, 0, 157);
}
